/*------------------------
Client Logo Styles
------------------------*/

.client-logo {
    display: inline-block;
    width: 20%;
    padding: 15px;
    position: relative;
    height: 130px;
    text-align: center;
    float: left;
}
