// All variable here

//Color
$primaryColor: #6e0f9e;
$baseColor: #111111;

//Fonts
$baseFont: "Open Sans", sans-serif;
$baseFontSize: 1.6rem;
$baseLineHeight: 1.75;

//Heading Fonts
$headingFont: "Poppins", sans-serif;
