*.iml
*.apk
.gradle
/buildSrc/build/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/schemas
/app/build
/app/release
/app/purchase
.DS_Store
google-services.json
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
