<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kpstv.yts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <!-- Required for Google cast -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required for Google drive backup -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".di.ApplicationClass"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark.NoAction"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity,UnusedAttribute"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.kpstv.yts.cast.provider.CastOptionsProvider" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1164424526503510~6985155768" />

        <activity
            android:name=".ui.activities.AgreementActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".ui.activities.StartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:launchMode="singleTop"
            android:theme="@style/StartTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Handling YTS deep links -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="yts.mx"
                    android:pathPrefix="/movies" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SearchActivity"
            android:theme="@style/AppTheme.Dark.NoAction"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.activities.MoreActivity"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".ui.activities.TorrentPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TorrentPlayerTheme" />
        <activity
            android:name=".ui.dialogs.AlertNoIconDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme.Dark" />
        <activity
            android:name=".ui.activities.DownloadActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".ui.activities.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TorrentPlayerTheme" />
        <activity
            android:name=".ui.activities.ImageViewActivity"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.Dark.Main" />
        <activity
            android:name=".ui.activities.FinalActivity"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".cast.ui.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.NoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kpstv.yts.ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.CrashOnActivity"/>

        <service android:name=".cast.service.WebService" />
        <service android:name=".services.DownloadService" />
        <service android:name=".services.CastTorrentService" />

        <receiver
            android:name=".receivers.CommonBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kpstv.yts.STOP_SERVICE" />
                <action android:name="com.kpstv.yts.TORRENT_NOT_SUPPORTED" />
                <action android:name="com.kpstv.yts.ADD_ONLY_JOB" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="com.kpstv.yts.workmanager-init"
            tools:node="remove" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="com.kpstv.yts.initializer.CommonInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>