<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kpstv.yts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".YTSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.NoAction"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.MoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".activities.TorrentPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TorrentPlayerTheme" />
        <activity
            android:name=".dialogs.AlertNoIconDialog"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme.Dark" />
        <activity
            android:name=".activities.DownloadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".activities.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".activities.ImageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.NoAction" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.Main"/>
        <activity
            android:name=".activities.FinalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark.NoAction" />

        <service android:name=".services.DownloadService" />

        <receiver
            android:name=".receivers.CommonBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kpstv.yts.STOP_SERVICE" />
                <action android:name="com.kpstv.yts.TORRENT_NOT_SUPPORTED" />
                <action android:name="com.kpstv.yts.ADD_ONLY_JOB" />
            </intent-filter>
        </receiver>
    </application>

</manifest>